# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
dist/
client/dist/

# Environment files
.env
.env.local
.env.development.local
.env.production.local

# OS & Temp
.DS_Store
Thumbs.db
*.log
