-- Add image_url to products table
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS image_url text;

-- Create product-images bucket
INSERT INTO storage.buckets (id, name, public) 
VALUES ('product-images', 'product-images', true)
ON CONFLICT (id) DO NOTHING;

-- Set up RLS for storage.objects
-- Note: You may need to enable RLS on storage.objects if it's not already
-- ALTER TABLE storage.objects ENABLE ROW LEVEL SECURITY;

-- Allow public read access to product-images
CREATE POLICY "Public Read Access" 
ON storage.objects FOR SELECT 
USING ( bucket_id = 'product-images' );

-- Allow authenticated users to upload images to product-images
CREATE POLICY "Authenticated users can upload images" 
ON storage.objects FOR INSERT 
TO authenticated 
WITH CHECK ( bucket_id = 'product-images' );

-- Allow users to update and delete their own uploaded images
CREATE POLICY "Users can update own images" 
ON storage.objects FOR UPDATE 
TO authenticated 
USING ( bucket_id = 'product-images' AND auth.uid() = owner )
WITH CHECK ( bucket_id = 'product-images' AND auth.uid() = owner );

CREATE POLICY "Users can delete own images" 
ON storage.objects FOR DELETE 
TO authenticated 
USING ( bucket_id = 'product-images' AND auth.uid() = owner );
-- Add category and condition to products
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS category text DEFAULT 'Uncategorized';
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS condition text DEFAULT 'New';

-- Create vendor_profiles table for conversational commerce and trust
CREATE TABLE IF NOT EXISTS public.vendor_profiles (
    id uuid REFERENCES auth.users NOT NULL PRIMARY KEY,
    store_name text NOT NULL,
    whatsapp_number text NOT NULL,
    is_verified boolean DEFAULT false,
    rating numeric(3, 2) DEFAULT 0.00,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Enable RLS on vendor_profiles
ALTER TABLE public.vendor_profiles ENABLE ROW LEVEL SECURITY;

-- Allow public read of vendor profiles (so buyers can see store names and WhatsApp links)
CREATE POLICY "Public Read Vendor Profiles" 
ON public.vendor_profiles FOR SELECT 
USING ( true );

-- Allow users to insert and update their own profiles
CREATE POLICY "Users can insert own profile" 
ON public.vendor_profiles FOR INSERT 
TO authenticated 
WITH CHECK ( auth.uid() = id );

CREATE POLICY "Users can update own profile" 
ON public.vendor_profiles FOR UPDATE 
TO authenticated 
USING ( auth.uid() = id )
WITH CHECK ( auth.uid() = id );
-- Add status column to order_items to track per-vendor fulfillment
ALTER TABLE public.order_items ADD COLUMN IF NOT EXISTS status text DEFAULT 'pending';

-- Create reviews table
CREATE TABLE IF NOT EXISTS public.reviews (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    product_id uuid REFERENCES public.products NOT NULL,
    vendor_id uuid REFERENCES public.vendor_profiles NOT NULL,
    buyer_id uuid REFERENCES auth.users NOT NULL,
    rating integer NOT NULL CHECK (rating >= 1 AND rating <= 5),
    comment text,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Enable RLS for reviews
ALTER TABLE public.reviews ENABLE ROW LEVEL SECURITY;

-- Allow public read of reviews
CREATE POLICY "Public Read Reviews" 
ON public.reviews FOR SELECT 
USING ( true );

-- Allow buyers to insert their own reviews
CREATE POLICY "Buyers can insert reviews" 
ON public.reviews FOR INSERT 
TO authenticated 
WITH CHECK ( auth.uid() = buyer_id );

-- Allow buyers to update their own reviews
CREATE POLICY "Buyers can update own reviews" 
ON public.reviews FOR UPDATE 
TO authenticated 
USING ( auth.uid() = buyer_id )
WITH CHECK ( auth.uid() = buyer_id );


-- Create platform_admins table
CREATE TABLE IF NOT EXISTS public.platform_admins (
    id uuid REFERENCES auth.users NOT NULL PRIMARY KEY,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Enable RLS for platform_admins
ALTER TABLE public.platform_admins ENABLE ROW LEVEL SECURITY;

-- Allow public read of admins (so App can easily check if user is admin)
CREATE POLICY "Public Read Admins" 
ON public.platform_admins FOR SELECT 
USING ( true );
-- Add id_document_url to vendor_profiles
ALTER TABLE public.vendor_profiles ADD COLUMN IF NOT EXISTS id_document_url text;

-- Create storage bucket for KYC documents
INSERT INTO storage.buckets (id, name, public) 
VALUES ('kyc-documents', 'kyc-documents', true)
ON CONFLICT (id) DO NOTHING;

-- Allow authenticated users to upload their own KYC documents
CREATE POLICY "Users can upload their own KYC documents" 
ON storage.objects FOR INSERT 
TO authenticated 
WITH CHECK (bucket_id = 'kyc-documents' AND auth.uid()::text = (storage.foldername(name))[1]);

-- Allow public read of KYC documents (simplest approach for admins to view)
CREATE POLICY "Anyone can view KYC documents" 
ON storage.objects FOR SELECT 
USING (bucket_id = 'kyc-documents');
-- Add B2B wholesale columns to products
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS item_no text;
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS unit text DEFAULT 'EA';
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS price_excl_vat_cents integer DEFAULT 0;
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS price_incl_vat_cents integer DEFAULT 0;
-- Add vendor_type to distinguish between C2C and B2B/B2C vendors
ALTER TABLE public.vendor_profiles ADD COLUMN IF NOT EXISTS vendor_type text DEFAULT 'individual';

-- Add additional KYC document fields
ALTER TABLE public.vendor_profiles ADD COLUMN IF NOT EXISTS company_registration_url text;
ALTER TABLE public.vendor_profiles ADD COLUMN IF NOT EXISTS selfie_with_id_url text;

-- (The kyc-documents storage bucket and policies were already created in 20231010000003_vendor_kyc.sql)
